@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Dancing+Script:wght@500&family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Header */

.header {
    display: flex;
    place-content: center space-evenly;
    margin-top: 10px;
}

.foto {
    display: flex;
    place-content: left;
}

.items {
    margin-top: 10px;
    color: rgb(38, 38, 38);
}

.header div i {
    font-size: 25px;
    align-self: center;
    margin: 15px 18px;
}


/* Footer */
.pie {
    background-color: rgb(38, 38, 38);
    bottom: 0;
    display: block;
    color: white;
}

.logo {
    width: 60px;
    height: 50px;
}

.grid-foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
}

.contacto {
    display: grid;
}

.instagram {
    font-size: 25px;
}

.nosotros {
    display: grid;
}

.shop {
    display: grid;
}

.info {
    display: grid;
}

.row {
    display: inline;
}